.add__edit__computer {
    background-color: gray;
    border-radius: 5px;
    margin: 0 auto;
    width: 20%;
}

.add__edit__info {
    font-size: 20px;
    text-align: center;
    padding: 2px;
    margin: 5px;
}

.add__edit__button {
    font-size: 20px;
    background-color: dimgray;
    padding: 5px;
    margin: 15px;
}